{% extends 'base.html' %}
{% load static %}
{% block title %}About{% endblock %}
{% block body %}
    <main>
    <!--? Hero Start -->
    <div class="slider-area2" style='background-image: url(/static/assets/img/hero/hero2.png);'>
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap hero-cap2 pt-20 text-center">
                            <h2>About US</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->
    
    <!--? About Law Start-->
    <section class="about-low-area" style='padding-top: 50px;padding-bottom: 20px;'>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-10">
                    <div class="about-caption mb-50">
                        <!-- Section Tittle -->
                        <div class="section-tittle mb-35">
                            <span>{{ body_values.title }}</span>
                            <h2>{{ body_values.slogan }}</h2>
                        </div>
                        <p>{{ body_values.body }}</p>
                        
                    </div>
                    <a href="/about" class="button button-contactForm boxed-btn-blue">About US</a>
                </div>
                <div class="col-lg-6 col-md-12">
                    <!-- about-img -->
                    <div class="about-img " >
                        <div class="about-font-img d-none d-lg-block" style='border-top: 6px solid rgba(30, 116, 201, 0.9);border-right: 6px solid rgba(30, 116, 201, 0.9);'>
                            <img src="{{ body_values.photo_small.url }}" width='300px' height='250px' alt="">
                        </div>
                        <div class="about-back-img ">
                            <img src="{{ body_values.photo_big.url }}" width='400px' height='400px' alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 
    <div class='container'>
        <div class='row'>
            <div class='col'>
                <a>hello</a>
            </div>
            <div class='col'>
                <a>hello</a>
            </div>
            <div class='col'>
                <a>hello</a>
            </div>
            <div class='col'>
                <a>hello</a>
            </div>
            <div class='col'>
                <a>hello</a>
            </div>
        </div>
        <div class='row'>
            <div class='col'>
                <a>hello</a>
            </div>
            <div class='col'>
                <a>hello</a>
            </div>
            <div class='col'>
                <a>hello</a>
            </div>
            <div class='col'>
                <a>hello</a>
            </div>
            <div class='col'>
                <a>hello</a>
            </div>
        </div>
    </div>
   -->
   <div class="team-area" style='padding-top: 50px;padding-bottom: 20px;'>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10">
                <!-- Section Tittle -->
                <div class="section-tittle section-tittle2 text-center mb-70">
                    <span>Our Team</span>
                    <h2>Our Expert Volunteer Always ready</h2>
                </div> 
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class='row'>
                    {% for team in teams %}
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                
                                <img src="{{ team.photo.url }}" alt="">
                                
                                <!-- Blog Social -->
                                    <ul class="team-social">
                                        {% if team.facebook != None %}
                                            <li><a href="{{ team.facebook }}"><i class="fab fa-facebook-f"></i></a></li>
                                        {% endif %}
                                        {% if team.linkedin != None %}
                                        <li><a href="{{ team.linkedin }}"><i class="fab fa-linkedin-in"></i></a></li>
                                        {% endif %}
                                        {% if team.instagram != None %}
                                        <li><a href="{{ team.instagram }}"><i class="fab fa-instagram"></i></a></li>
                                        {% endif %}
                                    </ul>
                                    <div class="team-caption">
                                        <h3>{{ team.first_name }} {{ team.last_name }}</h3>
                                        <p>{{ team.post }}</p>
                                    </div>
                                
                            </div>
                            
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-4">
                <div class='row'>
                    
                    <div class="section-tittle section-tittle2 text-center mb-70">
                        <h2>Our Advisors/Supporters</h2>
                    </div> 
                </div>
                <div class='row'>
            
                    {% for advisor in advisors %}
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="single-team mb-30">
                            <div class="team-img" style='width:170px;height:200px;border-radius:50px 50px 50px 50px ;'>
                                <img src="{{ advisor.photo.url }}" alt="">
                                <!-- Blog Social -->
                                <ul class="team-social">
                                    {% if advisor.facebook != None %}
                                        <li><a href="{{ advisor.facebook }}"><i class="fab fa-facebook-f"></i></a></li>
                                    {% endif %}
                                    
                                </ul>
                                <div class="team-caption" >
                                    <h3>{{ advisor.first_name }} {{ advisor.last_name }}</h3>
                                    <p>{{ advisor.post }}</p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
    
    <!-- Want To work End -->
    

    </main>
{% endblock %}