{% extends 'base.html' %}
{% load static %}
{% block title %}Affiliates{% endblock %}
{% block body %}
<div class='container'>
    <div class='row justify-content-center mb-50 mt-50'>
        
        <h1 style='font-size: 50px;font-weight: 700;'>Our Partners and Affiliates</h1>
        
    </div>
    <div class='row'>
        {% for partner in page %}
        <div class='col-lg-3 col-md-4 col-sm-6'>
            <div class='partners-img'>
                <div class='partners-overlay'>
                    <a href='{{ partner.url }}' target="_blank"><img src='{{ partner.photo.url }}'></a>
                </div>
                <div class='partners-cap text-center'>
                    <a href='{{ partner.url }}' target="_blank"><h3>{{ partner.name }}</h3></a>
                </div>
                
            </div>
            
        </div>
        {% endfor %}
    </div>
    <div class='row justify-content-center'>
        <nav class="blog-pagination justify-content-center d-flex">
            {% if page.has_other_pages %}
            <ul class="pagination">
                {% if page.has_previous %}
                <li class="page-item">
                    <a href="?page={{ page.previous_page_number }}" class="page-link" aria-label="Previous">
                        <i class="ti-angle-left"></i>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a href="" class="page-link" aria-label="Previous">
                        <i class="ti-angle-left"></i>
                    </a>
                </li>
                {% endif %}
                {% for i in page.paginator.page_range %}
                    {% if page.number == i %}
                    <li class="page-item active-nav">
                        <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                    </li>
                    {% endif %}
                {% endfor %}
                {% if page.has_next %}
                <li class="page-item">
                    <a href="?page={{ page.next_page_number }}" class="page-link" aria-label="Next">
                        <i class="ti-angle-right"></i>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a href="" class="page-link" aria-label="Next">
                        <i class="ti-angle-right"></i>
                    </a>
                </li>
                {% endif %}
            </ul>
            
            {% endif %}
        </nav>
    </div>
</div>
<div class="team-area" style='padding-top: 50px;padding-bottom: 20px;'>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10">
                <!-- Section Tittle -->
                <div class="section-tittle section-tittle2 text-center mb-70">
                    <span>Our Team</span>
                    <h2>Our Expert Volunteer Always ready</h2>
                </div> 
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class='row justify-content-center'>
                    {% for team in teams %}
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                
                                <img src="{{ team.photo.url }}" alt="">
                                
                                <!-- Blog Social -->
                                    <ul class="team-social">
                                        {% if team.facebook != None %}
                                            <li><a href="{{ team.facebook }}"><i class="fab fa-facebook-f"></i></a></li>
                                        {% endif %}
                                        {% if team.linkedin != None %}
                                        <li><a href="{{ team.linkedin }}"><i class="fab fa-linkedin-in"></i></a></li>
                                        {% endif %}
                                        {% if team.instagram != None %}
                                        <li><a href="{{ team.instagram }}"><i class="fab fa-instagram"></i></a></li>
                                        {% endif %}
                                    </ul>
                                    <div class="team-caption">
                                        <h3>{{ team.first_name }} {{ team.last_name }}</h3>
                                        <p>{{ team.post }}</p>
                                    </div>
                                
                            </div>
                            
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class='row'>
                    
                    <div class="section-tittle section-tittle2 text-center mb-70">
                        <h2>Our Advisors and Supporters</h2>
                    </div> 
                </div>
                <div class='row justify-content-center'>
            
                    {% for advisor in advisors %}
                    <div class="col-lg-4 col-md-6 col-sm-4">
                        <div class="single-team mb-20">
                            <div class="team-img" style='width:100px;height:130px;border-radius:20px 20px 20px 20px ;margin-right: 0;'>
                                <img src="{{ advisor.photo.url }}" style='width:100px;height:130px;' alt="">
                                <!-- Blog Social -->
                                <ul class="team-social" style='bottom: 13px;'>
                                    {% if advisor.facebook != None %}
                                        <li><a href="{{ advisor.facebook }}" style='width:27px;height:27px;text-align:center;margin-left:0;line-height:30px;'><i class="fab fa-facebook-f"></i></a></li>
                                    {% endif %}
                                    
                                </ul>
                                <div class="team-caption-small" >
                                    <h3>{{ advisor.first_name }} {{ advisor.last_name }}</h3>
                                    <p>{{ advisor.post }}</p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}