{% extends 'base.html' %}
{% load static %}
{% block title %}Contact{% endblock %}
{% block link %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
crossorigin=""></script>
<style>
    #mapid { 
        height: 400px;
        z-index: 00;
    }
</style>
{% endblock %}
{% block body %}
    <main>
        <!--? Hero Start -->
        <div class="slider-area2" style='background-image: url(/static/assets/img/hero/heroblue.png);'>
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 pt-20 text-center">
                                <h2 style='color:white;'>Contact Us</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->
        <!--?  Contact Area start  -->
        <section class="contact-section" style='background-color: #1e74c9;padding-top: 50px;padding-bottom: 20px;'>
            <div class="container">
                <div class="d-none d-sm-block mb-5 pb-4">
                    <div id='mapid'></div>
                    {% include 'map.html' %}
    
                </div>
                <div class="row">
                    <div class="col-12">
                        <h2 class="contact-title" style='color:white;'>Get in Touch</h2>
                    </div>
                    <div class="col-lg-8">
                        <form class="form-contact contact_form" method="post" id="contactForm" novalidate="novalidate">{% csrf_token %}
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group" style='background-color: white;'>
                                        {{ form.name }}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group" style='background-color: white;'>
                                        {{ form.email }}
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group" style='background-color: white;'>
                                        {{ form.subject }}
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group" style='background-color: white;'>
                                        {{ form.message }}
                                    </div>
                                </div>
                                
                                
                                
                            </div>
                            <div class="form-group mt-3">
                                <button type="submit" class="button button-contactForm boxed-btn">Send</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="media contact-info">
                            <span class="contact-info__icon" style='color:white;'><i class="ti-home"></i></span>
                            <div class="media-body">
                                <h3 style='color:white;'>Buttonwood, California.</h3>
                                <p style='color:white;'>Rosemead, CA 91770</p>
                            </div>
                        </div>
                        <div class="media contact-info">
                            <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                            <div class="media-body">
                                <h3 style='color:white;'>+1 253 565 2365</h3>
                                <p style='color:white;'>Mon to Fri 9am to 6pm</p>
                            </div>
                        </div>
                        <div class="media contact-info">
                            <span class="contact-info__icon"><i class="ti-email"></i></span>
                            <div class="media-body">
                                <h3 style='color:white;'>support@colorlib.com</h3>
                                <p style='color:white;'>Send us your query anytime!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact Area End -->
    </main>
{% endblock %}
{% block script %}

{% endblock %}