{% extends 'base.html' %}
{% load static %}

{% block body %}
    <main>
        
    <div class='container' >
        <div class='row'>
            <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
                <!--Indicators-->
                <ol class="carousel-indicators">
                    {% for p in photos %}
                    <li data-target="#carousel-example-1z" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.counter0 == 0 %} active {% endif %}"></li>
                    {% endfor %}
                </ol>
                <!--/.Indicators-->
                <!--Slides-->
                <div class="carousel-inner" style='width:600px;height:400px;' role="listbox">
                    {% for p in photos %}
                    <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}">
                        <div class="view">
                            <img class="d-block w-100" src="{{ p.photo.url }}"
                            alt="First slide">
                            <div class="mask rgba-black-light"></div>
                        </div>
                        
                        <div class="carousel-caption">
                            <h3 class="h3-responsive">Light mask</h3>
                            <p>First text</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!--/.Slides-->
                <!--Controls-->
                <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                <!--/.Controls-->
            </div>	
        </div>
    </div>
    <!--? Hero Start -->
    
    <!-- Hero End -->
    <!--? Count Down Start -->
    
    <!-- Count Down End -->
    
    <!-- Hero End -->
    <!-- Our Cases Start -->
    <section class="home-blog-area" style='padding-top: 50px;padding-bottom: 20px;'>
        <div class="container">
            <!-- Section Tittle -->
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10">
                    <div class="section-tittle text-center mb-90">
                        <span>Our Cases you can see</span>
                        <h2>Explore our latest causes that we works</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for event in events %}
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="home-blog-single mb-30">
                        <div class="blog-img-cap">
                            <div class="blog-img">
                                <a href='/program?data={{ event.id }}'><img src="{{ event.photo.url }}" alt=""></a>
                                <!-- Blog date -->
                                <div class="blog-date text-center">
                                    <span>24</span>
                                    <p>Now</p>
                                </div>
                            </div>
                            <div class="blog-cap">
                                
                                <h3><a href="/program?data={{ event.id }}">{{ event.title }}</a></h3>
                                <p>{{ event.slogan }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div> 
        </div>

    </section>
    <!-- Featured_job_end -->
    </main>
{% endblock %}
