{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block body %}
    <main>
    <!-- slider Area Start-->
    <div class="slider-area" style="background-image: url(static/assets/img/hero/h1_hero.png);">
        <div class="slider-active">
            <!-- Single Slider -->
            <div class="single-slider slider-height d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-8 col-sm-10">
                            <div class="hero__caption">
                                <h1 data-animation="fadeInUp" data-delay=".6s">{{ home.title }}</h1>
                                <P data-animation="fadeInUp" data-delay=".8s">{{ home.body }}</P>
                                <!-- Hero-btn -->
                                <div class="hero__btn">
                                    <a href="{{ home.video_url }}" class="popup-video button button-contactForm boxed-btn-blue"  data-animation="fadeInLeft" data-delay=".8s"><i class="fa fa-play"> Watch Video</i></a>
                                    <a href="/contact" class="cal-btn ml-15" data-animation="fadeInRight" data-delay="1.0s" >
                                        <i class="flaticon-null"></i>
                                        <P>+977-{{ home.phone }}</P>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
    </div>
    
    <div class='container' style="padding-top: 30px;padding-bottom: 30px;">
        <div class='row'>
            <div class="col">
                <div class='slideshow-container'>
                    {% for photo in body_image %}
                    <div class="mySlides fade">
                        <div class="numbertext">{{ forloop.counter }} / {{ body_image_count }}</div>
                        <img src="{{ photo.photo.url }}" style="width: 600px;height: 400px;border-radius: 20px;">
                        
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
            <div class="col">
                <div class="section-tittle text-right mb-80">
                    <h2>{{ body_one.title }}</h2>
                    <span>{{ body_one.slogan }}</span>
                    <p>{{ body_one.body }}</p>
                </div>
            </div>
        </div>

    </div>
    
   
    
   
    
    
    <!--? Services Area Start -->
    <div class="service-area" style='padding-top: 50px;padding-bottom: 20px;'>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10">
                    <!-- Section Tittle -->
                    <div class="section-tittle text-center mb-80">
                        <span>What we are doing</span>
                        <h2>We Are In A Mission To Help The Helpless</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-cat text-center mb-50">
                        <div class="cat-icon">
                            <span class="flaticon-null-1"></span>
                        </div>
                        <div class="cat-cap">
                            <h5><a href="services.html">Clean Water</a></h5>
                            <p>The sea freight service has grown conside rably in recent years. We spend timetting to know your processes to.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6" >
                    <div class="single-cat active text-center mb-50" >
                        <div class="cat-icon">
                            <span class="flaticon-think"></span>
                        </div>
                        <div class="cat-cap">
                            <h5><a href="services.html">Clean Water</a></h5>
                            <p>The sea freight service has grown conside rably in recent years. We spend timetting to know your processes to.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-cat text-center mb-50">
                        <div class="cat-icon">
                            <span class="flaticon-gear"></span>
                        </div>
                        <div class="cat-cap">
                            <h5><a href="services.html">Clean Water</a></h5>
                            <p>The sea freight service has grown conside rably in recent years. We spend timetting to know your processes to.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services Area End -->
    <!--? About Law Start-->
    <section class="about-low-area" style='padding-top: 50px;padding-bottom: 20px;'>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-10">
                    <div class="about-caption mb-50">
                        <!-- Section Tittle -->
                        <div class="section-tittle mb-35">
                            <span>{{ body_values.title }}</span>
                            <h2>{{ body_values.slogan }}</h2>
                        </div>
                        <p>{{ body_values.body }}</p>
                        
                    </div>
                    <a href="/about" class="button button-contactForm boxed-btn-blue">About US</a>
                </div>
                <div class="col-lg-6 col-md-12">
                    <!-- about-img -->
                    <div class="about-img " >
                        <div class="about-font-img d-none d-lg-block" style='border-top: 6px solid rgba(30, 116, 201, 0.9);border-right: 6px solid rgba(30, 116, 201, 0.9);'>
                            <img src="{{ body_values.photo_small.url }}" width='300px' height='250px' alt="">
                        </div>
                        <div class="about-back-img ">
                            <img src="{{ body_values.photo_big.url }}" width='400px' height='400px' alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Law End-->
    <!-- Our Cases Start -->
    
    <!-- Our Cases End -->
    <section class="home-blog-area" style='padding-top: 50px;padding-bottom: 20px;'>
        <div class="container">
            <!-- Section Tittle -->
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10">
                    <div class="section-tittle text-center mb-90">
                        <span>Our Cases you can see</span>
                        <h2>Explore our latest causes that we works</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for event in events %}
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="home-blog-single mb-30">
                        <div class="blog-img-cap">
                            <div class="blog-img">
                                <a href='/program?data={{ event.id }}'><img src="{{ event.photo.url }}" alt=""></a>
                                <!-- Blog date -->
                                <div class="blog-date text-center">
                                    <span>24</span>
                                    <p>Now</p>
                                </div>
                            </div>
                            <div class="blog-cap">
                                
                                <h3><a href="/program?data={{ event.id }}">{{ event.title }}</a></h3>
                                <p>{{ event.slogan }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div> 
        </div>

    </section>
    <!--? Team Ara Start -->
    <div class="team-area" style='padding-top: 50px;padding-bottom: 20px;'>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10">
                    <!-- Section Tittle -->
                    <div class="section-tittle section-tittle2 text-center mb-70">
                        <span>Our Team</span>
                        <h2>Our Expert Volunteer Always ready</h2>
                    </div> 
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class='row'>
                        {% for team in teams %}
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="single-team mb-30">
                                <div class="team-img">
                                    
                                    <img src="{{ team.photo.url }}" alt="">
                                    
                                    <!-- Blog Social -->
                                        <ul class="team-social">
                                            {% if team.facebook != None %}
                                                <li><a href="{{ team.facebook }}"><i class="fab fa-facebook-f"></i></a></li>
                                            {% endif %}
                                            {% if team.linkedin != None %}
                                            <li><a href="{{ team.linkedin }}"><i class="fab fa-linkedin-in"></i></a></li>
                                            {% endif %}
                                            {% if team.instagram != None %}
                                            <li><a href="{{ team.instagram }}"><i class="fab fa-instagram"></i></a></li>
                                            {% endif %}
                                        </ul>
                                        <div class="team-caption">
                                            <h3>{{ team.first_name }} {{ team.last_name }}</h3>
                                            <p>{{ team.post }}</p>
                                        </div>
                                    
                                </div>
                                
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class='row'>
                        
                        <div class="section-tittle section-tittle2 text-center mb-70">
                            <h2>Our Advisors/Supporters</h2>
                        </div> 
                    </div>
                    <div class='row'>
                
                        {% for advisor in advisors %}
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="single-team mb-30">
                                <div class="team-img" style='width:170px;height:200px;border-radius:50px 50px 50px 50px ;'>
                                    <img src="{{ advisor.photo.url }}" alt="">
                                    <!-- Blog Social -->
                                    <ul class="team-social">
                                        {% if advisor.facebook != None %}
                                            <li><a href="{{ advisor.facebook }}"><i class="fab fa-facebook-f"></i></a></li>
                                        {% endif %}
                                        
                                    </ul>
                                    <div class="team-caption" >
                                        <h3>{{ advisor.first_name }} {{ advisor.last_name }}</h3>
                                        <p>{{ advisor.post }}</p>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!--? Blog Area Start -->
    
    <div class='container' style="padding-top: 5px;padding-bottom: 50px;">
        <div class='row'>
            <div class='col-lg-12'>
                <h1 style='text-align:center;padding:20px;color:#011033;font-weight:bolder;font-size: 50px;'>Our  Partners</h1>
                
            </div>
        </div>
        <br>
        <div class='row'>
            
            <section class="customer-logos slider">
                {% for partner in partners %}
                <div class="slide"><a href='{{ partner.url }}' ><img src="{{ partner.photo.url }}"></a></div>
                {% endfor %}
            </section>
        </div>
     
    </div>
    
    
    
    
    </main>
{% endblock %}
    <!-- Featured_job_start 
    <section class="featured-job-area section-padding30 section-bg2" data-background="{% static 'assets/img/gallery/section_bg03.png' %}">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-9 col-md-10 col-sm-12">
                    
                    <div class="section-tittle text-center mb-80">
                        <span>What we are boing</span>
                        <h2>We arrange many social events for charity donations</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-9 col-md-12">
                    
                    <div class="single-job-items mb-30">
                        <div class="job-items">
                            <div class="company-img">
                                <a href="#"><img src="{% static 'assets/img/gallery/socialEvents1.png' %}" alt=""></a>
                            </div>
                            <div class="job-tittle">
                                <a href="#"><h4>Donation is Hope</h4></a>
                                <ul>
                                    <li><i class="far fa-clock"></i>8:30 - 9:30am</li>
                                    <li><i class="fas fa-sort-amount-down"></i>18.01.2021</li>
                                    <li><i class="fas fa-map-marker-alt"></i>Athens, Greece</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-12">
                   
                    <div class="single-job-items mb-30">
                        <div class="job-items">
                            <div class="company-img">
                                <a href="#"><img src="{% static 'assets/img/gallery/socialEvents2.png' %}" alt=""></a>
                            </div>
                            <div class="job-tittle">
                                <a href="#"><h4>A hand for Children</h4></a>
                                <ul>
                                    <li><i class="far fa-clock"></i>8:30 - 9:30am</li>
                                    <li><i class="fas fa-sort-amount-down"></i>18.01.2021</li>
                                    <li><i class="fas fa-map-marker-alt"></i>Athens, Greece</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-12">
                   
                    <div class="single-job-items mb-30">
                        <div class="job-items">
                            <div class="company-img">
                                <a href="#"><img src="{% static 'assets/img/gallery/socialEvents3.png' %}" alt=""></a>
                            </div>
                            <div class="job-tittle">
                                <a href="#"><h4>Help for Children</h4></a>
                                <ul>
                                    <li><i class="far fa-clock"></i>8:30 - 9:30am</li>
                                    <li><i class="fas fa-sort-amount-down"></i>18.01.2021</li>
                                    <li><i class="fas fa-map-marker-alt"></i>Athens, Greece</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    Featured_job_end -->
    <!-- Blog Area End -->
    <!--? Count Down Start 
    <div class="count-down-area pt-25 section-bg" data-background="{% static 'assets/img/gallery/section_bg02.png' %}">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 col-md-12">
                    <div class="count-down-wrapper" >
                        <div class="row justify-content-between">
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                
                                <div class="single-counter text-center">
                                    <span class="counter color-green">6,200</span>
                                    <span class="plus">+</span>
                                    <p class="color-green">Donation</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                               
                                <div class="single-counter text-center">
                                    <span class="counter color-green">80</span>
                                    <span class="plus">+</span>
                                    <p class="color-green">Fund Raised</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                               
                                <div class="single-counter text-center">
                                    <span class="counter color-green">256</span>
                                    <span class="plus">+</span>
                                    <p class="color-green">Donation</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                
                                <div class="single-counter text-center">
                                    <span class="counter color-green">256</span>
                                    <span class="plus">+</span>
                                    <p class="color-green">Donation</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    Count Down End -->
    <!-- Team Ara End -->
    <!-- Want To work 
    <section class="wantToWork-area ">
        <div class="container">
            <div class="wants-wrapper w-padding2  section-bg" data-background="{% static 'assets/img/gallery/section_bg01.png' %}">
                <div class="row align-items-center justify-content-between">
                    <div class="col-xl-5 col-lg-9 col-md-8">
                        <div class="wantToWork-caption wantToWork-caption2">
                            <h2>Lets Chenge The World With Humanity</h2>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4">
                        <a href="#" class="btn white-btn f-right sm-left">Become A Volunteer</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
     Want To work End -->
    <!--? Testimonial Start 
    <div class="testimonial-area testimonial-padding">
        <div class="container">
            
            <div class="row d-flex justify-content-center">
                <div class="col-xl-8 col-lg-8 col-md-10">
                    <div class="h1-testimonial-active dot-style">
                      
                        <div class="single-testimonial text-center">
                            <div class="testimonial-caption ">
                               
                                <div class="testimonial-founder">
                                    <div class="founder-img mb-40">
                                        <img src="{% static 'assets/img/gallery/testimonial.png' %}" alt="">
                                        <span>Margaret Lawson</span>
                                        <p>Creative Director</p>
                                    </div>
                                </div>
                                <div class="testimonial-top-cap">
                                    <p>“I am at an age where I just want to be fit and healthy our bodies are our responsibility! So start caring for your body and it will care for you. Eat clean it will care for you and workout hard.”</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="single-testimonial text-center">
                            <div class="testimonial-caption ">
                              
                                <div class="testimonial-founder">
                                    <div class="founder-img mb-40">
                                        <img src="{% static 'assets/img/gallery/testimonial.png' %}" alt="">
                                        <span>Margaret Lawson</span>
                                        <p>Creative Director</p>
                                    </div>
                                </div>
                                <div class="testimonial-top-cap">
                                    <p>“I am at an age where I just want to be fit and healthy our bodies are our responsibility! So start caring for your body and it will care for you. Eat clean it will care for you and workout hard.”</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="single-testimonial text-center">
                            <div class="testimonial-caption ">
                               
                                <div class="testimonial-founder">
                                    <div class="founder-img mb-40">
                                        <img src="{% static 'assets/img/gallery/testimonial.png' %}" alt="">
                                        <span>Margaret Lawson</span>
                                        <p>Creative Director</p>
                                    </div>
                                </div>
                                <div class="testimonial-top-cap">
                                    <p>“I am at an age where I just want to be fit and healthy our bodies are our responsibility! So start caring for your body and it will care for you. Eat clean it will care for you and workout hard.”</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    Testimonial End -->