{% extends 'base.html' %}

{% load static %}
{% block title %}Program{% endblock %}
{% block body %}
<main>
    
    <div class="container" style='padding-top: 20px;'>
        <div class="row">
            <div class="col-xl-12">
                <div class="hero-cap hero-cap2 pt-20 text-center">
                    <h1 style='font-size: 50px;'>{{ one_event.title }}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class='container'>
        <div class="section-top-border">
            <h1 class="mb-30">Left Aligned</h1>
            <div class="row">
                <div class="col-lg-5 col-md-12 col-sm-12">
                    <div class='slideshowContainer-small'>
                        {% for image in one_event_image %}
                            <img src="{{ image.photo.url }}" class="imageSlides" style="width: 100%;height: 330px;border-radius: 20px;">             
                        {% endfor %}
                        <span id ="leftArrow" class="slideshowArrow">&#8249;</span>
                        <span id ="rightArrow" class="slideshowArrow">&#8250;</span>
                        
                        <div class="slideshowCircles">
                        <!-- Filled 'dot' class is set to first image in slideshow, and then via Javascript the filled 'dot' class follows the current image.
                        Make sure you match the number of these 'circle' span elements to the number of images in your slideshow. -->
                        {% for i in one_event_range %}
                            <span class="circle {% if forloop.counter0 == 0 %} dot {% endif %}"></span>
                        
                        {% endfor %}
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-7 col-md-12 col-sm-12">
                    <p>
                        {% autoescape off %}
                        {{ one_event.body_left }}
                        {% endautoescape %}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class='container'>
        <div class="section-top-border text-right">
            <h1 class="mb-30">Right Aligned</h1>
            <div class="row">
                <div class="col-md-9">
                    <p class="text-right">
                        {% autoescape off %}
                        {{ one_event.body_right }}
                        {% endautoescape %}
                    </p>
                </div>
                <div class="col-md-3">
                    <img src="{{ one_event.photo.url }}" width='100%' height='270px;' style='border-radius: 10px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); ' alt="">
                </div>
            </div>
        </div>
    </div>
    <div class='container'>
        <div class='row'>
            <section class="sample-text-area">
                <div class="container box_1170">
                    <h3 class="text-heading">Text Sample</h3>
                    <p class="sample-text">
                        {% autoescape off %}
                        {{ one_event.body_center }}
                        {% endautoescape %}
                    </p>
                </div>
            </section>
        </div>
        <div class='row'>
            <div class="section-top-border">
                <h3 class="mb-30">Block Quotes</h3>
                <div class="row">
                    <div class="col-lg-12">
                        <blockquote class="generic-blockquote">
                            {% autoescape off %}
                            {{ one_event.body_quotes }}
                            {% endautoescape %}
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
    <div class='container' style='padding-top: 20px;padding-bottom: 50px;'>
        <div class='row justify-content-center' style='position:relative;'>
            <button type='button' id='{{ prevdata.id }}' {% if prevdata.id is None %}disabled{% endif %} class='boxed-btn pagi-nate' style='position: absolute;left: 0px;'>Previous</button>
            
            <button type='button' id='{{ nextdata.id }}' {% if nextdata.id is None %}disabled{% endif %} class='boxed-btn pagi-nate' style='position: absolute;right: 0px;'>Next</button>
        </div>
    </div>
    <div class='container'>
        <div class="section-top-border">
            <h1>Related Images</h1>
            <div class="row gallery-item">
                {% for image in one_event_image %}
                <div class="col-md-4">
                    <a href="{{ image.photo.url }}" class="img-pop-up">
                        <div class="single-gallery-image" style="background: url({{ image.photo.url }});"></div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    

</main>
    
{% endblock %}
{% block script %}
<script>
    $(document).ready(function(){
    $('.pagi-nate').click(function(event){
        event.preventDefault();
        var data = $(this).attr('id'); 
        
        if (data != null) {
            window.location.href = '/program?data=' + data; 
        }
               
    });
});  
</script>
{% endblock %}
